@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    @if (ViewBag.Error == null)
    {
        <p class="alert-success">
            Thank you for confirming your email. Please @Html.ActionLink("Click here to continue", "Display", "QuestionDisplay", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    }
    else
    {
        <p class="alert-warning">
            @ViewBag.Error
        </p>
    }

</div>
